.dual-list .list-group {
    margin-top: 8px;
}

.list-left li,
.list-right li {
    cursor: pointer;
}

.list-arrows {
    padding-top: 100px;
}

.list-arrows button {
    margin-bottom: 26px;
}

.list-group-item {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 14px;
}